body {
  background-color: #191765;
  background-image: url(resources/Ellipse\ 18.png);
  background-repeat: no-repeat;
  background-position: left;
}
.list {
  list-style-type: none;
  color: azure;
 }
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
    
}
#header-image {
  margin-right: 20px;
  width: 35px;
  height: 20px;
    
}
.heading {
  display: flex;
  justify-content: center;
  
}
#main {
  margin-top: 120px;
  color: #7d73fc;
}
#job {
  margin-top: 12px;
  color: #edecff;
}
.para {
  color:#c8c8d4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
  
}

.spec {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 12px;
  background-image: url(resources/Ellipse\ 19.png);
  background-repeat: no-repeat;
  background-position: right;
}
.divider {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  color:#f5f5ff;
  font-size: 13px;
}
.list-heading {
  color: #9490ff;
  font-size: 25px;

}

.footer {
  display: flex;
  justify-content: center;
}
#last-img {
  position: absolute;
  left: 130px;
}