body {
  background-color: #191765;
  background-image: url(resources/Ellipse\ 18.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.list {
  list-style-type: none;
  color: azure;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

#header-image {
  margin-right: 20px;
  width: 35px;
  height: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  text-align: center;
}

#main {
  margin-top: 120px;
  color: #7d73fc;
}

#job {
  margin-top: 12px;
  color: #edecff;
}

.para {
  padding-bottom: 20px;
  border-bottom: 2px solid #646369;
  margin: 0 20px;
  color: #c8c8d4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.spec {
  padding-bottom: 20px;
  border-bottom: 2px solid #646369;
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(resources/Ellipse\ 19.png);
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  gap: 24px;
  line-height: 24px;
}

li {
  margin-bottom: 10px;
  margin-right: 13px;
}

ul {
  list-style: none;
  color: #f5f5ff;
  font-size: 13px;
}

.list-heading {
  color: #9490ff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: center;
}

#last-img {
  position: absolute;
  left: 130px;
}

.work {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  justify-content: space-evenly;
}

#button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 90px;
  background-color: #7d73fc;
  height: 35px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
}

#button1:hover {
  cursor: pointer;
  background-color: purple;
}

.lang {
  border-right: 1px solid gray;
  border-width: 1px;
}

.lang:last-child {
  border: none;
}

#list1 {
  display: flex;
  align-items: cemter;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

#sub-heading1 {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #fff;
}

#content1 {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #dcdce8;
}

.img-container1 {
  background-image: url(resources/Ellipse\ 19@2x.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

#heading {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #9490ff;
  border-bottom: 2px solid #646369;
  flex-wrap: wrap;
}

#button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 90px;
  background-color: #7d73fc;
  height: 35px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
}

#button2:hover {
  cursor: pointer;
  background-color: purple;
}

#list2 {
  display: flex;
  align-items: cemter;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

#sub-heading2 {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #fff;
}

#content2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #dcdce8;
}

.img-container2 {
  background-image: url(resources/fig2.png);
  background-repeat: no-repeat;
  background-position: 100px 2px;
  background-size: 100% 100%;
}

#button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 90px;
  background-color: #7d73fc;
  height: 35px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
}

#button3:hover {
  cursor: pointer;
  background-color: purple;
}

#list3 {
  display: flex;
  align-items: cemter;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

#sub-heading3 {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #fff;
}

#content3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #dcdce8;
}

.img-container3 {
  background-image: url(resources/fig3.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

#button4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 90px;
  background-color: #7d73fc;
  height: 35px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
}

#button4:hover {
  cursor: pointer;
  background-color: purple;
}

#list4 {
  display: flex;
  align-items: cemter;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

#sub-heading4 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #fff;
  display: flex;
  align-items: center;
}

#content4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #dcdce8;
}

.img-container4 {
  background-image: url(resources/fig4.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.work-image {
  display: flex;
  align-items: center;
}
